:root {
    --gold: #c1a205;
    --black: #000000;
    --extra-yellow: #f0c52e;
    --white: #ffffff;
  }

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 300;
    src: local('Circe'),
        url('../fonts/Circe-Light.woff2') format('woff2'),
        url('../fonts/Circe-Light.woff') format('woff');
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    src: local('Circe'),
        url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 800;
    src: local('Circe'),
        url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff');
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    min-width: 1300px;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-family: 'Circe', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}

.subtitle {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

/* Header */
.main-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.logo-img {
    display: block;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 700px;
    min-height: 50px;
}

.main-nav__item {
    margin-right: 20px;
}

.main-nav__item:last-child {
    margin-right: 0;
}

.main-nav__item a {
    font-weight: inherit;
    font-size: 20px;
}

/* Promo */
.promo {
    background-color: rgb(25, 52, 70);
    background-image: url("../img/hd-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--white);
}

.promo .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.promo__lead {
    width: 500px;
    min-height: 300px;
}

.promo__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 51px;
    text-transform: uppercase;
}

.promo__title span {
    color: rgb(252, 194, 13);
}

.promo__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* Expertise */
.expertise {
    padding-top: 60px;
    padding-bottom: 60px;
}

.expertise__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.expertise__item {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 610px;
}

.expertise__item:nth-child(even) {
    flex-direction: column-reverse;
}

.expertise__item:nth-child(even) .expertise__text {
    padding: 60px 30px 20px;
    flex-direction: column-reverse;
}

.expertise__item:nth-child(odd) .expertise__text {
    padding: 80px 30px 0px;
}

.expertise__item:nth-child(even) .expertise__text::before {
    position: absolute;
    content: '';
    bottom: 23px;
    left: 15px;
    width: 1px;
    height: 183px;
    background-color: var(--gold);
}

.expertise__item:nth-child(odd) .expertise__text::before {
    position: absolute;
    content: '';
    top: 80px;
    left: 15px;
    width: 1px;
    height: 125px;
    background-color: var(--gold);
}

.expertise__img {
    width: 100%;
    height: 66%;
}

.expertise__text {
    height: 34%;
    position: relative;
    margin: 0;
    /* padding: 50px 30px; */
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
}

.expertise__text::after {
    position: absolute;
    content: '';
    top: 20px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.expertise__text--manhole::after {
    background-image: url('../img/manhole.svg');
}

.expertise__text--pipe-closed::after {
    background-image: url('../img/pipe_closed.svg');
    top: 40px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.expertise__text--traffic-cone::after {
    background-image: url('../img/traffic-cone.svg');
}

.expertise__text--electricity::after {
    background-image: url('../img/еlectricity.svg');
    top: 40px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.experitse__text--engine::after {
    background-image: url('../img/еngine.svg'); 
}

.experitse_text--pipe::after {
    background-image: url('../img/pipe.svg');
    top: 40px;
    right: 20px;
    width: 70px;
    height: 70px;
}

/* About */

.about {
    position: relative;
    /* background-image: url("../img/shutter.jpg"); */
    background-color: var(--gold);
    background-repeat: no-repeat;
    background-size: cover;
}

.about__blur {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-color: rgba(240, 211, 84, 0.3); */
}

.about__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.about__content {
    width: 500px;
    margin-left: 50px;
    padding: 30px 54px;
    background-color: var(--white);
}

.about__title {
    margin: 0;
    margin-left: -23px;
}

.about__text {
    font-size: 14px;
    line-height: 20px;
}

.about__list {
    margin: 0;
    padding-left: 17px;
    font-size: 14px;
    line-height: 20px;
}

/* Map */

.map {
    position: relative;
    padding-top: 60px;
    /* display: flex;
    align-items: center; */
}
/* 
.map__container {
} */

.map__pin {
    position: absolute;
    content: '';
    width: 25px;
    height: 35px;
    background-image: url("../img/pin.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: translate(0px, -400%);
    opacity: 0;
}

.map__pin:first-of-type {
    top: 41%;
    left: 10%;
    transition: all 1s ease 0.1s;
}

.map__pin:nth-of-type(2) {
    top: 45.5%;
    left: 9.5%;
    transition: all 1s ease 0.2s;
}

.map__pin:nth-of-type(3) {
    top: 50%;
    left: 9.5%;
    transition: all 1s ease 0.3s;
}

.map__pin:nth-of-type(4) {
    top: 58%;
    left: 5%;
    transition: all 1s ease 0.4s;
}

.map__pin:nth-of-type(5) {
    top: 58%;
    left: 8%;
    transition: all 1s ease 0.5s;
}

.map__pin:nth-of-type(6) {
    top: 59%;
    left: 12%;
    transition: all 1s ease 0.6s;
}

.map__pin:nth-of-type(7) {
    top: 58.5%;
    left: 15.5%;
    transition: all 1s ease 0.7s;
}

.map__pin:nth-of-type(8) {
    top: 58.5%;
    left: 19%;
    transition: all 1s ease 0.8s;
}

.map__pin:nth-of-type(9) {
    top: 55.5%;
    left: 21%;
    transition: all 1s ease 0.9s;
}

.map__pin:nth-of-type(10) {
    top: 54.5%;
    left: 18%;
    transition: all 1s ease 1s;
}

.map__pin:nth-of-type(11) {
    top: 53.5%;
    left: 15.5%;
    transition: all 1s ease 1.1s;
}

.map__pin:nth-of-type(12) {
    top: 50%;
    left: 16.5%;
    transition: all 1s ease 1.2s;
}

.map__pin:nth-of-type(13) {
    top: 49.5%;
    left: 18.5%;
    transition: all 1s ease 1.3s;
}

.map__pin:nth-of-type(14) {
    top: 45%;
    left: 16.5%;
    transition: all 1s ease 1.4s;
}

.map__pin:nth-of-type(15) {
    top: 47%;
    left: 14.5%;
    transition: all 1s ease 1.5s;
}

.map__pin:nth-of-type(16) {
    top: 42%;
    left: 14.5%;
    transition: all 1s ease 1.6s;
}

.map__pin:nth-of-type(17) {
    top: 45%;
    left: 13%;
    transition: all 1s ease 1.7s;
}

.map__pin:nth-of-type(18) {
    top: 45.5%;
    left: 11.5%;
    transition: all 1s ease 1.8s;
}

.map__pin:nth-of-type(19) {
    top: 40.5%;
    left: 12%;
    transition: all 1s ease 1.9s;
}

.map__pin:nth-of-type(20) {
    top: 33.5%;
    left: 15%;
    transition: all 1s ease 2s;
}

.map__pin:nth-of-type(21) {
    top: 27.5%;
    left: 17%;
    transition: all 1s ease 2.1s;
}

.map__pin:nth-of-type(22) {
    top: 69.5%;
    left: 35.5%;
    transition: all 1s ease 2.2s;
}

.map__pin:nth-of-type(23) {
    top: 74.5%;
    left: 39.5%;
    transition: all 1s ease 2.3s;
}

.map__pin:nth-of-type(24) {
    top: 67.5%;
    left: 42%;
    transition: all 1s ease 2.4s;
}

.map__pin:nth-of-type(25) {
    top: 78.5%;
    left: 44.5%;
    transition: all 1s ease 2.5s;
}


.map__img {
    width: 100%;
    height: 100%;
    object-position: 0 0;
}

.map__content {
    position: absolute;
    top: 80px;
    right: 0;
    width: 500px;
    z-index: 1;
}

.map__inner {
    display: flex;
    padding: 50px 20px 20px 30px;
    border: 1px solid var(--gold);
    background-color: rgb(255, 255, 255, 0.8);
}

.map__title {
    position: relative;
    width: 220px;
    margin-bottom: -35px;
    margin-left: 1px;
    padding: 0 20px;

    background-color: var(--white);
    z-index: 1;
}

.map__title::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -60px;
    width: 1px;
    height: 120px;
    background-color: var(--gold);
}

.map__list-area,
.map__list-country-start,
.map__list-coutry-end {
    margin: 0;
    padding-left: 20px;
}

.map__list-area {
    margin-bottom: 20px;
}

/* Team */

.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(236, 230, 230);
}

.team__wrapper {
    display: flex;
}

.team__card {
    width: 275px;
    margin-right: 20px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.team__card:last-child {
    margin-right: 0;
}

.team__img {
    width: 275px;
}

.team__content {
    padding: 20px;
}

/* Design */

.build-design__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    /* background-image: url('../img/Background.png'); */
    background-repeat: no-repeat;
    background-position: 90px 375px;
    background-size: 70%;
}

.building,
.design {
    width: 415px;
    padding: 30px;
}

.building__title {
    position: relative;
    padding: 10px;
    border: 2px solid var(--gold);
}

.building__title::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 70%;
    height: 2px;
    background-color: var(--white);
}

.building__title::after {
    content: '';
    position: absolute;
    top: -60px;
    left: -2px;
    width: 2px;
    height: 60px;
    background-color: var(--gold);
}

.design__title {
    position: relative;
    padding: 10px;
    border: 2px solid var(--gold);
}

.design__title::before {
    content: '';
    position: absolute;
    left: -2px;
    bottom: -2px;
    width: 70%;
    height: 2px;
    background-color: var(--white);
}

.design__title::after {
    content: '';
    position: absolute;
    top: 50px;
    left: -2px;
    width: 1.5px;
    height: 60px;
    background-color: var(--gold);
}

.building__list,
.design__list {
    padding-left: 25px;
}
.design__list {
    position: relative;
    border-left: 2px solid var(--gold);
    background-color: rgb(255, 255, 255, 0.8);
}

.design__list:after {
    content: '';
    position: absolute;
    bottom: -60px;
    left: -2px;
    width: 2px;
    height: 60px;
    background-color: var(--gold);
}

.building__item,
.design__item {
    margin: 5px;
}

/* Projects */

.projects {
    padding-top: 60px;
    padding-bottom: 60px;
}

.projects__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}

.projects__item {
    position: relative;
    width: 25%;
    height: 300px;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__img:hover~.projects__link {
    display: flex;
}

.projects__link {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(199, 212, 114, 0.3);
}

.projects__link:hover {
    display: flex;
}

.projects_subtitle {
    text-align: center;
}

/* Competence */

.competence {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(241, 238, 238);
}

.competence__title {
    text-align: center;
}

.competence__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.competence__item {
    width: 350px;
    padding: 20px;
}

/* Other */

.other {
    padding-top: 60px;
    padding-bottom: 60px;
}

.other__title {
    text-align: center;
}

.other__list {
    margin: 0;
    padding: 0;
    list-style: none;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

/* .other__item {
    padding-left: 60px;
    padding-right: 60px;
} */

/* Partners */

.partners {
    padding-top: 60px;
    padding-bottom: 60px;
}

.partners__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer */

.main__footer {
    min-height: 150px;
    background-color: rgb(5, 90, 5);
}

/* Animation */

._hide {
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hide-left {
    transform: translate(50%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hide-right {
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hide-top {
    transform: translate(0px, -400%);
    opacity: 0;
    transition: all 1s ease 1s;
}

.hide-bottom-1 {
    transform: translate(0px, 25%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.hide-bottom-2 {
    transform: translate(0px, 25%);
    opacity: 0;
    transition: all 1s ease 0.3s;
}

.hide-bottom-3 {
    transform: translate(0px, 25%);
    opacity: 0;
    transition: all 1s ease 0.6s;
}

.hide-bottom-4 {
    transform: translate(0px, 25%);
    opacity: 0;
    transition: all 1s ease 0.8s;
}

.hide-bottom-5 {
    transform: translate(0px, 25%);
    opacity: 0;
    transition: all 1s ease 1.1s;
}

.hide-bottom-6 {
    transform: translate(0px, 25%);
    opacity: 0;
    transition: all 1s ease 1.4s;
}

.hide-small {
    transform: scale(0, 0);
    opacity: 0;
    transition: all 1s ease 0s;
}

._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transform: scale(1, 1);
}

/* Test */

#btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transform: scale(0);
    transition: 0.34s linear;
}

#btn.fixed {
    transform: scale(1);
}

/* Header animation */

.header-hide {
    opacity: 0;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    z-index: 100;
    transition: all 0.5s ease 0s; 
}

.swiper-button-next,
.swiper-button-prev {
    color: green;
}

/* .swiper-button-prev {
    
    
} */