@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 300;
    src: local('Circe'),
      url('../fonts/Circe-Light.woff2') format('woff2'),
      url('../fonts/Circe-Light.woff') format('woff');
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    src: local('Circe'),
      url('../fonts/Circe-Regular.woff2') format('woff2'),
      url('../fonts/Circe-Regular.woff') format('woff');
}
  
@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 800;
    src: local('Circe'),
        url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff');
    }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  font-weight: 400;
  font-family: 'Circe', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}

.subtitle {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo-img {
    display: block;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 700px;
    min-height: 50px;
}

.main-nav__item {
    margin-right: 20px;
}

.main-nav__item:last-child {
    margin-right: 0;
}

.main-nav__item a {
    font-weight: inherit;
    font-size: 20px;
}

/* Promo */
.promo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    background-image: url("../img/hd-bg.jpg");
    background-repeat: no-repeat;

    color: white;

}

.promo__lead {
    width: 500px;
    min-height: 300px;
}

.promo__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 51px;
    text-transform: uppercase;
}

.promo__title span {
    color: rgb(252, 194, 13);
}

.promo__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* Expertise */
.expertise {
    padding-top: 60px;
    padding-bottom: 60px;
}

.expertise.container {
    max-width: 985px;
}

.expertise__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}

.expertise__item {
    display: flex;
    width: 50%;
}

.expertise__item:nth-child(3n),
.expertise__item:nth-child(4n) {
    flex-direction: row-reverse;
}

.expertise__content {
    padding: 20px;
}

/* About */

.about {
    position: relative;
    height: 100vh;
}

.about__blur {
    padding-top: 5%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(240, 211, 84, 0.3);
}

.about__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.about__content {
    width: 500px;
    margin-left: 50px;
    padding: 30px 54px;
    background-color: white;
}

.about__title {
    margin: 0;
    margin-left: -23px;
}

.about__text {
    font-size: 14px;
    line-height: 20px;
}

.about__list {
    margin: 0;
    padding-left: 17px;
    font-size: 14px;
    line-height: 20px;
}

/* Map */

.map {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
}

.map__img {
    width: 650px;
    height: 325px;
}

.map__content {
    width: 500px;
    margin-left: auto;
}

.map__inner {
    display: flex;
    padding: 50px 20px 20px 30px;
    border: 1px solid gold;
}

.map__title {
    position: relative;
    width: 220px;
    margin-bottom: -35px;
    margin-left: 1px;
    padding: 0 20px;

    background-color: white;
    z-index: 1;
}

.map__title::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -60px;
    width: 1px;
    height: 120px;
    background-color: gold;
}

.map__list-area,
.map__list-country-start,
.map__list-coutry-end {
    margin: 0;
    padding-left: 20px;
}

.map__list-area {
    margin-bottom: 20px;
}

/* Team */

.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(236, 230, 230);
}

.team__wrapper {
    display: flex;
}

.team__card {
    width: 275px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.team__card:last-child {
    margin-right: 0;
}

.team__img {
    width: 275px;
}

.team__content {
    padding: 20px;
}

/* Design */

.build-design__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.building,
.design {
    width: 415px;
    padding: 30px;
}

.building__title {
    position: relative;
    padding: 10px;
    border: 2px solid gold;
}

.building__title::before {
    content: '';                     
    position: absolute;
    top: -2px;
    left: -2px;
    width: 70%;
    height: 2px;
    background-color: white;
}

.building__title::after {
    content: '';                     
    position: absolute;
    top: -60px;
    left: -2px;
    width: 1.5px;
    height: 60px;
    background-color: gold;
}

.design__title {
    position: relative;
    padding: 10px;
    border: 2px solid gold;
}

.design__title::before {
    content: '';                     
    position: absolute;
    left: -2px;
    bottom: -2px;
    width: 70%;
    height: 2px;
    background-color: white;
}

.design__title::after {
    content: '';                     
    position: absolute;
    top: 50px;
    left: -2px;
    width: 1.5px;
    height: 60px;
    background-color: gold;
}

.building__list,
.design__list {
    padding-left: 25px;
    /* font-size: 14px; */
}

.design__list {
    border-left: 2px solid gold;
}

.building__item,
.design__item {
    margin: 5px;
}

/* Projects */

.projects {
    padding-top: 60px;
    padding-bottom: 60px;
}

.projects__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}

.projects__item {
    position: relative;
    width: 33%;
    height: 300px;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__img:hover ~ .projects__link {
    display: flex;
}

.projects__link {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(199, 212, 114, 0.3);
}

.projects__link:hover {
    display: flex;
}

.projects_subtitle {
    text-align: center;
}

/* Competence */

.competence {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(241, 238, 238);
}

.competence__title {
    text-align: center;
}

.competence__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.competence__item {
    width: 350px;
    padding: 20px;
}

/* Other */

.other {
    padding-top: 60px;
    padding-bottom: 60px;
}

.other__title {
    text-align: center;
}

.other__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.other__item {
    width: 350px;
    padding: 20px;
}

/* Partners */

.partners {
    padding-top: 60px;
    padding-bottom: 60px;
}

.partners__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer */

.main__footer {
    min-height: 150px;
    background-color: rgb(5, 90, 5);
}

/* Animation */

._hide{
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hide-left {
    transform: translate(50%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hide-right {
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hide-small {
    transform: scale(0, 0);
    transition: all 1s ease 0s;
}

._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transform: scale(1, 1);
}
