.about {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $light-green;
}

.about__blur {
  z-index: -1;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;

  @media (max-width: 420px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about__content {
  margin-left: 50px;
  padding: 30px 54px;
  width: 500px;
  background-color: $white;

  @media (max-width: 420px) {
    padding: 20px;
  }

  @media (max-width: 660px) {
    margin-left: 0;
    width: 100%;
  }
}

.about__title {
  margin: 0;
  margin-left: -23px;

  @media (max-width: 420px) {
    margin-left: 0;
  }
}

.about__subtitle {
  @media (max-width: 420px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.about__text {
  font-size: 14px;
  line-height: 20px;

  @media (max-width: 420px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.about__list {
  margin: 0;
  padding-left: 17px;
  font-size: 14px;
  line-height: 20px;

  @media (max-width: 420px) {
    font-size: 12px;
    line-height: 16px;
  }
}
