.button {
  position: relative;
  margin-right: 20px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  color: $white;
  background-color: #a68d5e;

  @media (max-width: 800px) {
    font-size: 11px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.button:hover,
.button:focus {
  background-color: #c7a86f;
}

.button:active {
  background-color: #e7c481;
}
