.button-up {
  position: fixed;
  right: 30px;
  bottom: 75px;
  z-index: 50;
  border: none;
  width: 75px;
  height: 75px;
  background-color: transparent;
  transform: scale(0);
  transition: 0.34s linear;
  cursor: pointer;

  @media (max-width: 500px) {
    display: none;
  }
}

.button-up path {
  fill: $gold;
}

.button-up:hover path {
  fill: gold;
}
