.button-up {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 50;
  border: none;
  width: 75px;
  height: 75px;
  background-color: transparent;
  transform: scale(0);
  transition: 0.34s linear;
  cursor: pointer;

  @media (max-width: 500px) {
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
  }
}

.button-up path {
  fill: $gold;
}

.button-up:hover path {
  fill: darken($gold, 5%);
}
