.certificates {
  padding-top: 60px;
  padding-bottom: 60px;
}

.certificates .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.certificates__title {
  align-self: start;
  margin: 0;
  padding: 10px;
  width: 350px;
}

.slider-wrapper {
  position: relative;
}

.certificates__container {
  width: 850px;
}

.certificates__img {
  border: 2px solid $gold;
  width: 212px;
  height: 300px;
  transition: all 0.5s ease 0s;
}

.certificates__item:hover {
  opacity: 0.6;
}

.certificates__prev {
  left: -40px;
}

.certificates__next {
  right: -40px;
}
