.competence {
  padding-top: 30px;
  background-position: calc(65vw - 10%) 102%;
  background-size: 600px;

  /* background-image: url('../img/competence-bg.png'); */
  background-repeat: no-repeat;
  background-color: $grey;

  @media (max-width: 1239px) {
    background-position: calc(50vw - 10%) 102%;
  }

  @media (max-width: 840px) {
    padding-bottom: 200px;
    background-position: 10% 100%;
  }
}

.competence__title {
  margin: 0;

  @media (max-width: 450px) {
    padding-right: 20px;
  }
}

.competence__title::after {
  height: 500px;

  @media (max-width: 1239px) {
    height: 500px;
  }

  @media (max-width: 1240px) {
    height: 600px;
  }

  @media (max-width: 840px) {
    height: 1100px;
  }

  @media (max-width: 600px) {
    height: 1150px;
  }

  @media (max-width: 500px) {
    height: 1200px;
  }

  @media (max-width: 380px) {
    height: 1250px;
  }

  @media (max-width: 360px) {
    height: 1350px;
  }

  @media (max-width: 340px) {
    height: 1450px;
  }
}

.competence__list {
  counter-reset: myCounter;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.competence__item {
  position: relative;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 50px;
  padding: 20px;
  width: 350px;
}

.competence__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  position: absolute;
  left: -30px;
  top: 40px;
  width: 40px;
  height: 40px;
  font-weight: 300;
  font-size: 70px;
  color: $gold;
}

.competence__subtitle {
  display: inline;
  font-size: 14px;
}

.competence__text {
  display: inline;
}
