.competence {
  padding-top: 30px;
  background-position: calc(65vw - 10%) 102%;
  background-size: 600px;
  background-repeat: no-repeat;
  background-color: $grey;

  @media (max-width: 1239px) {
    background-position: calc(50vw - 10%) 102%;
  }

  @media (max-width: 840px) {
    padding-bottom: 200px;
    background-position: 10% 100%;
  }
}

.competence__title {
  margin: 0;

  @media (max-width: 450px) {
    padding-right: 20px;
  }
}

.competence__list {
  counter-reset: myCounter;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.competence__list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.6px;
  height: 110%;
  background-color: $gold;

  @media (max-width: 841px) {
    height: 140%;
  }

  @media (max-width: 800px) {
    height: 140%;
  }
}

.competence__item {
  position: relative;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 50px;
  padding: 20px;
  width: 350px;
  line-height: 18px;

  @media (max-width: 1240px) {
    margin-bottom: 0;
  }

  @media (max-width: 445px) {
    margin-left: 40px;
  }
}

.competence__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  position: absolute;
  left: -30px;
  top: 40px;
  width: 40px;
  height: 40px;
  font-weight: 300;
  font-size: 70px;
  color: $gold;
}

.competence__subtitle {
  display: inline;
  font-size: 14px;
}

.competence__text {
  display: inline;
}
