.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $white;
  background-color: #115006;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.main-footer__adress {
  margin: 0;

  @media (max-width: 500px) {
    margin-bottom: 15px;
  }
}

.main-footer__tel {
  color: $white;
}
