.map {
  position: relative;
  height: 100%;

  @media (max-width: 1200px) {
    margin-bottom: 80px;
  }

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    margin-bottom: 0;
  }
}

.map__wrapper {
  position: relative;
  left: -15px;

  @media (max-width: 1000px) {
    width: 200%;
  }

  @media (max-width: 564px) {
    margin-top: 50px;
  }
}

.map__img {
  width: 100%;
  height: 100%;
  object-position: 0 0;
}

.map__content {
  position: absolute;
  z-index: 1;
  width: 500px;

  @media (min-width: 1000px) {
    right: 21px;
    top: 35px;
  }

  @media (max-width: 1000px) {
    left: 20px;
    top: 20px;
    width: 94%;
    height: 17.5%;
  }

  @media (max-width: 754px) {
    width: 93.5%;
    height: 17%;
  }

  @media (max-width: 571px) {
    width: 90%;
    height: 16%;
  }
}

.map__inner {
  display: flex;
  border: 2px solid $gold;
  padding: 50px 20px 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);

  @media (max-width: 1000px) {
    background-color: rgba(255, 255, 255, 0);
  }
}

.map__title {
  position: relative;
  z-index: 1;
  margin-bottom: -35px;
  margin-left: 1px;
  padding: 0 20px;
  width: 220px;
  background-color: $white;
}

.map__title::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -60px;
  width: 1.6px;
  height: 140px;
  background-color: $gold;
}

.map__subtitle {
  @media (max-width: 1000px) {
    display: none;
  }
}

.map__list-area,
.map__list-country-start,
.map__list-coutry-end {
  margin: 0;
  padding-left: 20px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.map__list-area {
  margin-bottom: 20px;
}
