.partners {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $grey;
}

.partners__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1300px) {
    flex-wrap: wrap;
  }
}

.partners__wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  width: 1.6px;
  height: 135%;
  background-color: $gold;

  @media (max-width: 560px) {
    height: 130%;
  }

  @media (max-width: 420px) {
    height: 115%;
  }
}

.partners__title {
  margin: 0;
  padding: 10px;
  width: 350px;

  @media (max-width: 585px) {
    margin-bottom: 40px;
  }
}

.partners__title::after {
  height: 289px;

  @media (max-width: 890px) {
    height: 420px;
  }

  @media (max-width: 420px) {
    height: 780px;
  }
}

.partners__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 850px;

  @media (max-width: 1300px) {
    padding-left: 20px;
  }

  @media (max-width: 890px) {
    flex-wrap: wrap;
  }
}

.partners__item {
  margin-right: 25px;
  width: 150px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 420px) {
    margin-right: 0;
    width: 100%;
  }
}

.partners__item:nth-child(3) img {
  height: 150px;
}

.partners__item img {
  width: 100%;

  @media (max-width: 420px) {
    width: 280px;
    height: 120px;
  }
}

.partners__item:nth-child(1) img{
  object-fit: contain;
}

.partners__item:nth-child(2) img{
  object-fit: contain;
}

.partners__item:nth-child(3) img {
  @media (max-width: 420px) {
    object-fit: cover;
  }
}

.partners__item:nth-child(4) img {
  @media (max-width: 420px) {
    object-fit: cover;
  }
}
