.promo {
  min-height: 100vh;
  color: $white;
  background-image: url("../img/hd-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #115006;
}

.promo__wrapper {
  display: flex;
  justify-content: flex-end;
  min-height: 100%;
}

.promo__lead {
  align-self: center;
  padding-top: 150px;
  padding-bottom: 100px;
  min-height: 300px;
  max-width: 500px;

  @media (max-width: 800px) {
    max-width: 350px;
  }
}

.promo__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;

  @media (max-width: 800px) {
    font-size: 25px;
    line-height: 30px;
  }
}

.promo__title span {
  font-size: 50px;
  line-height: 55px;
  color: #a68d5e;

  @media (max-width: 800px) {
    font-size: 35px;
    line-height: 45px;
  }
}

.promo__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 800px) {
    font-size: 15px;
    line-height: 20px;
  }
}
