.promo {
  height: 91vh;
  color: $white;
  background-image: url("../img/hd-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #115006;
}

.promo .container {
  display: flex;
  justify-content: flex-end;
  height: 91vh;
}

.promo__lead {
  align-self: center;
  width: 500px;
  min-height: 300px;
}

.promo__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
}

.promo__title span {
  font-size: 50px;
  line-height: 55px;
  color: #a68d5e;
}

.promo__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.promo__img {
  align-self: bottom;
  width: 45%;
}
