@media (max-width: 800px) {
  .title {
    font-size: 24px;
    line-height: 30px;
  }

  .button {
    padding: 10px;
    font-size: 10px;
  }

  .map__img {
    display: none;
  }

  .map__content {
    position: static;
    margin-top: 60px;
    width: 100%;
  }

  .map__inner {
    flex-wrap: wrap;
  }
}
