@media (max-width: 1180px) {
  .main-header {
    padding-top: 20px;
    padding-bottom: 0;
    width: 100vw;
  }

  .main-header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo-link {
    margin-bottom: 20px;
  }

  .logo-img {
    width: 180px;
    height: 40px;
  }

  .main-nav__toggle {
    display: block;
  }

  .main-nav__list {
    flex-direction: column;
    margin-right: -20px;
    margin-left: -20px;
  }

  .main-nav__item {
    margin-right: 0;
    border-top: 1px solid rgb(194, 192, 192);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .main-nav {
    margin: 0;
  }
}

@media (max-width: 1300px) {
  .expertise__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .expertise__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 610px;
  }

  .expertise__item:nth-child(4),
  .expertise__item:nth-child(6) {
    flex-direction: column;
  }

  .expertise__item:nth-child(5) {
    flex-direction: column-reverse;
  }

  .expertise__item:nth-child(4)::before,
  .expertise__item:nth-child(6)::before {
    left: calc(50% - 10px);
    bottom: 200px;
  }

  .expertise__item:nth-child(5)::before {
    left: calc(50% - 10px);
    top: 200px;
  }

  .expertise__item:nth-child(2) img,
  .expertise__item:nth-child(3) img,
  .expertise__item:nth-child(4) img,
  .expertise__item:nth-child(5) img,
  .expertise__item:nth-child(6) img {
    object-position: center center;
  }
}

@media (max-width: 660px) {
  .title {
    font-size: 24px;
    line-height: 30px;
  }

  .button {
    padding: 10px;
    font-size: 10px;
  }

  .promo__lead {
    max-width: 320px;
  }

  .promo__title {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .promo__title span {
    font-size: 35px;
    line-height: 45px;
    color: #a68d5e;
  }

  .promo__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  .expertise {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .expertise__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* .expertise__item {
        width: 100%;
        margin-bottom: 10px;
        height: 460px;
    } */

  .expertise__item {
    margin-bottom: 10px;
    width: 50%;
    height: 460px;
  }

  /* .expertise__item:nth-child(even),
    .expertise__item:nth-child(odd) {
        flex-direction: column;
        padding: 0;
    } */

  .expertise__item:nth-child(even) {
    flex-direction: column-reverse;
  }

  .expertise__item:nth-child(5) {
    flex-direction: column;
  }

  .expertise__item:nth-child(even)::before {
    bottom: 32.5%;
  }

  .expertise__item:nth-child(5)::before {
    top: 397px;
  }

  .expertise__item:nth-child(even) .expertise__text::before,
  .expertise__item:nth-child(odd) .expertise__text::before {
    left: 0;
    width: 1px;
  }

  .expertise__item:nth-child(odd) .expertise__text::before {
    height: 86px;
  }

  .expertise__text--electricity::after {
    right: 10px;
    top: 20px;
  }

  .experitse_text--pipe::after {
    right: -10px;
    top: 25px;
  }

  .about {
    height: 700px;
  }

  .about__blur {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__content {
    margin-left: 0;
    padding: 20px;
    width: 100%;
  }

  .about__title {
    margin-left: 0;
  }

  .about__subtitle {
    font-size: 14px;
    line-height: 14px;
  }

  .about__text,
  .about__item {
    font-size: 12px;
    line-height: 16px;
  }

  .map__img {
    display: none;
  }

  .map__content {
    position: static;
    margin-top: 60px;
    width: 100%;
  }

  .map__inner {
    flex-wrap: wrap;
  }
}
